{% extends "base.html" %}
{% block 'content' %}
<!-- Page Wrapper -->
<div class="page-wrapper">
   <div class="content container-fluid">
      <div class="d-flex justify-content-between align-items-center">
         <div>
            <h6 class="text-black mb-10">
               विवाद / उजुरीको अनुसूची–११ दफा ६१को सँग सम्बन्धित अनिवार्य
               छान्नुहोस् ||
            </h6>
         </div>
         <div>
            <div class="mb-3">
               <label for="exampleFormControlInput1" class="form-label"
                  >विवाद / उजुरी*</label
                  >
               <select
                  id="exampleFormControlInput1"
                  class="form-select"
                  aria-label="Default select example"
                  >
                  <option selected>--- विवाद / उजुरी छान्नुहोस् ---</option>
                  <option value="1">
                     स्थानीय सरकार संचालन ऐन २०७४को ४७ (१)
                  </option>
                  <option value="2">
                     स्थानीय सरकार संचालन एन २०७४ को ४७ (२)
                  </option>
               </select>
            </div>
         </div>
      </div>
      <div class="border p-5">
         <div class="text-black">
            <div class="mt-4 d-flex flex-column gap-2">
               <p class="text-center fs-5 fw-bold">अनुसूची–११</p>
               <p class="text-center fs-5 fw-bold">(दफा ६१को सँग सम्बन्धित)</p>
               <p class="text-center fs-5 fw-bold">श्री न्यायिक समिती</p>
               <p class="text-center fs-5 fw-bold">संयोजक श्री</p>
               <p class="text-center fs-5 fw-bold">सदस्य श्री</p>
               <p class="text-center fs-5 fw-bold">सदस्य श्री</p>
               <p class="text-center fs-5 fw-bold">बाट भएको</p>
               <p class="text-center fs-5 fw-bold">
                  अन्तरिम संरक्षणात्मक आदेश
               </p>
            </div>
            <div class="mt-5 pb-3">
               <p class="fs-6 fw-bold">
                  संवत ............ ... सालको निवेदन नं........
               </p>
               <p class="fs-6 fw-bold">विषयः</p>
               <p>
                  जिल्ला , वडा न. बस्ने को नाति/नातिनी को छोरा/छोरी/श्रीमती वर्ष
                  को सन्देस चौधरी निवेदक (प्रथम पक्ष) मोबाईल न
               </p>
               <p class="mt-2 text-center fs-5 fw-bold">विरुद्ध</p>
            </div>
            <div>
               <p class="lh-lg">
                  जिल्ला , वडा न. , बस्ने , को नाति/नातिनी , को
                  छोरा/छोरी/श्रीमती वर्ष को ,लुटन दोम निवेदक (दोस्रो पक्ष)
                  मोबाईल न. यसमा निवेदकको माग वमोजिम जिल्ला , वडा न. बस्ने को
                  नाति/नातिनी को छोरा/छोरी/श्रीमती वर्ष को ले
                  ..................... भनि न्यायिक समिति (गठन तथा कार्यसञ्चालन)
                  ऐन, २०७८” को दफा १९को उपदफा (२) वमोजिम विपक्षी स्थानीय सरकार
                  संचालन ऐन २०७४को ४७ (१) को नाममा तपसिल वमोजिम मुद्धाको किनारा
                  नलागे सम्मको लागि यो अन्तरिम संरक्षणात्मक आदेश जारी गरिदिएका
                  छौं।यो आदेश मिसिल सामेल राखी विपक्षीलाई लेखी पठाईदिनु।यो आदेश
                  अनुसार कार्यान्वयन भएको जानकारी प्राप्त गरी मिसिल सामेल राख्नु
                  र नियमानुसार पेश गर्नु।
               </p>
               <p class="mt-3 fw-bold"><u>तपसिलः </u></p>
               <p class="mt-2">1.</p>
               <p class="mt-1">
                  आदेश तयार गर्न सहयोग गर्ने कर्मचारी.....................
               </p>
               <p class="mt-1">पद.................................</p>
               <p class="mt-1">समितिको हस्ताक्षर........</p>
               <p class="mt-2">
                  इती संवत: <b>२०८०</b> साल <b>१०</b> महिना
                  <b>२५</b>गते......रोज शुभम ।
               </p>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- /Page Wrapper -->
{% endblock %}