{% extends "base.html" %}
{% block 'content' %}

      <!-- Page Wrapper -->
      <div class="page-wrapper">
        <div class="content container-fluid">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <h6 class="text-black mb-10">
                विवाद / उजुरीको अनुसूची–१४ दफा ७३को उपदफा (३) सँग सम्बन्धित
                अनिवार्य छान्नुहोस् ||
              </h6>
            </div>
            <div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label"
                  >विवाद / उजुरी*</label
                >
                <select
                  id="exampleFormControlInput1"
                  class="form-select"
                  aria-label="Default select example"
                >
                  <option selected>--- विवाद / उजुरी छान्नुहोस् ---</option>
                  <option value="1">
                    स्थानीय सरकार संचालन ऐन २०७४को ४७ (१)
                  </option>
                  <option value="2">
                    स्थानीय सरकार संचालन एन २०७४ को ४७ (२)
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="border p-5">
            <div class="text-black">
              <div class="mt-4 d-flex flex-column gap-2">
                <p class="text-center fs-6">अनुसूची–१४</p>
                <p class="text-center fs-6">
                  (दफा ७३को उपदफा (३) सँग सम्बन्धित)
                </p>
                <p class="text-center fw-bold fs-5">
                  न्यायिक समिति समक्ष पेश गरेको निवेदन
                </p>
                <p class="mt-4 text-center fs-6">विषयः</p>
              </div>
              <div class="mt-3 pb-3">
                <p class="lh-lg">
                  प्रस्तुत विषयमा तपसिलमा उल्लेखित कागजातहरुको प्रतिलिपि साथै
                  राखी धुलिखेल नगरपालिकाको न्यायिक समिति अन्तर्गतका ............
                  मेलमिलाप केन्द्रमा सूचीकृत भई मेलमिलाप गराउन अनुमती पाउँ भनी
                  निवेदन गर्दछु।
                </p>
              </div>
              <div>
                <p class="mt-3">तपसिल:</p>
                <p class="mt-2">१) नागरिकता प्रमाणपत्रको छायाँकपी,</p>
                <p class="mt-2">
                  २) स्नातक तहसम्म उतिर्ण गरेको शैक्षिक प्रमाणपत्रको छायाँकपी,
                </p>
                <p class="mt-2">
                  ३) मेलमिलापकर्ताको तालिमप्राप्त गरेको प्रमाणपत्रको छायाँकपी,
                </p>
                <p class="mt-2">४) मेलमिलाप सम्बन्धी अनुभव र</p>
                <p class="mt-2">५) व्यक्तिगत विवरण</p>
              </div>
              <div class="d-flex justify-content-end">
                <div class="d-flex flex-column gap-2">
                  <p class="fw-bold text-end">निवेदक</p>
                  <p class="fw-bold">नाम थरः .................</p>
                  <p class="fw-bold">दस्तखतः .................</p>
                  <p class="fw-bold">मितिः ...................</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Page Wrapper -->
{% endblock %}