{% extends "base.html" %}
{% block 'content' %}
<!-- Page Wrapper -->
<div class="page-wrapper">
   <div class="content container-fluid">
      <div class="d-flex justify-content-between align-items-center">
         <div>
            <h6 class="text-black mb-10">
               विवाद / उजुरीको अनुसूची –२का रिपोर्ट सिर्जना गर्न विवाद / उजुरी
               अनिवार्य छान्नुहोस् ||
            </h6>
         </div>
         <div>
            <div class="mb-3">
               <label for="exampleFormControlInput1" class="form-label"
                  >विवाद / उजुरी*</label
                  >
               <select
                  id="exampleFormControlInput1"
                  class="form-select"
                  aria-label="Default select example"
                  >
                  <option selected>--- विवाद / उजुरी छान्नुहोस् ---</option>
                  <option value="1">
                     स्थानीय सरकार संचालन ऐन २०७४को ४७ (१)
                  </option>
                  <option value="2">
                     स्थानीय सरकार संचालन एन २०७४ को ४७ (२)
                  </option>
               </select>
            </div>
         </div>
      </div>
      <div class="border p-5">
         <div class="text-black">
            <div>
               <p class="text-center">अनुसूची -४</p>
               <p class="text-center">(दफा २१ को उपदफा (२) सँग सम्बन्धित)</p>
               <p class="text-center">
                  उजुरीको निबेदन दाबी फिर्ता लिने निबेदनको ढाँचा
               </p>
            </div>
            <div class="mt-4 d-flex flex-column gap-2">
               <p class="text-center fs-5 fw-bold">
                  दमक नगरपालिका,कानूनी मामिला प्रणाली न्यायिक समिती समक्ष पेश
                  गरेको
               </p>
               <p class="text-center fs-5 fw-bold">निवेदन -पत्र</p>
               <p class="text-center fs-5 fw-bold">विरुद्ध</p>
            </div>
            <div class="mt-4">
               <p>विषय:</p>
               <p class="mt-2">
                  म निम्न वुदाहरुमा लेखिए बमोजिम निवेदन गर्दछु :
               </p>
               <div class="d-flex flex-column gap-2 mt-2">
                  <p>
                     १. म निवेदक बिवाद निरुपणका लागी यो निवेदन दिना आएको छु ।
                  </p>
                  <p>
                     २. यस समितिबाट दोस्रो पक्ष झिकाई जे जो बुझ्नुपर्छ बुझी विवाद
                     निरुपण गराईपाउ ।
                  </p>
                  <p>
                     ३. यस बूढीगंगा गाउँपालिका,कानूनी मामिला प्रणाली बाट जारी
                     भएको " न्यायिक समिती ( गठन तथा कार्य संचालन ) ऐन्, २०७८" को
                     दफा बमोजिम निवेदन दस्तुर रु.....निवेदन साथ दाखिल गरेको छु ।
                  </p>
                  <p>
                     ४. यो निवेदन " न्यायिक समिती (गठन तथा कार्य संचालन )
                     ऐन्,२०७८"को दफा अनुसार यसै समिती को अधिकार क्षेत्र भित्र
                     पर्दछ ।
                  </p>
                  <p>
                     ५. यो निवेदन हद म्याद भित्रै छ र म निवेदक लाई यस विषयमा
                     निवेदन दिने हक दैइ या प्रप्त छ ।
                  </p>
                  <p>
                     ६. यस विषयमा अन्यत्र केहि कतै कुनै पनि निकय मा कुनै प्रकर को
                     निवेदन दिएको छैन ।
                  </p>
                  <p>
                     ७. यस विषयमा सुन्ने साक्षी हरुलाई न्यायिक समिती ले खोजेको
                     बेलामा उपस्थित गराउने छु
                  </p>
                  <p>क.</p>
                  <p>ख.</p>
                  <p>
                     ८. यस्मा लेखिएका व्यहोरा ठिक साचो सत्य हुन्,झुटा ठहरे कानुन
                     बमोजिम सजाय भोग न तयार छु ।
                  </p>
               </div>
               <p class="mt-3">
                  इती संवत: <b>२०७९</b> साल <b>०७</b> महिना
                  <b>१६</b>गते......रोज शुभम ।
               </p>
            </div>
            <div class="mt-3 d-flex justify-content-end pb-3">
               <p>निवेदक</p>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- /Page Wrapper -->
{% endblock %}