{% extends "base.html" %}
{% block 'content' %}

      <!-- Page Wrapper -->
      <div class="page-wrapper">
        <div class="content container-fluid">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <h6 class="text-black mb-10">
                विवाद / उजुरीको अनुसूची –९(क) रिपोर्ट सिर्जना गर्न विवाद / उजुरी
                अनिवार्य छान्नुहोस् ||
              </h6>
            </div>
            <div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label"
                  >विवाद / उजुरी*</label
                >
                <select
                  id="exampleFormControlInput1"
                  class="form-select"
                  aria-label="Default select example"
                >
                  <option selected>--- विवाद / उजुरी छान्नुहोस् ---</option>
                  <option value="1">
                    स्थानीय सरकार संचालन ऐन २०७४को ४७ (१)
                  </option>
                  <option value="2">
                    स्थानीय सरकार संचालन एन २०७४ को ४७ (२)
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="border p-5">
            <div class="text-black">
              <div>
                <p class="text-center">अनुसूची -८</p>
                <p class="text-center">(दफा २८ को उपदफा (३) सँग सम्बन्धित)</p>
                <p class="text-center">प्रतिबादको ढाँचा</p>
              </div>
              <div class="mt-4 d-flex flex-column gap-2">
                <p class="text-center fs-5 fw-bold">दमक नगरपालिक</p>
                <p class="text-center fs-5 fw-bold">
                  न्यायिक समिती मिति ................ मा जारी भएको
                </p>
                <p class="text-center fs-5 fw-bold">म्याद सूचना</p>
              </div>
              <div class="mt-5 d-flex justify-content-end pb-3">
                <div class="mt-5">
                  <p>...........................</p>
                  <p>उजुरी प्रशासक</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Page Wrapper -->
{% endblock %}