{% extends "base.html" %}
{% block 'content' %}

      <!-- Page Wrapper -->
      <div class="page-wrapper">
        <div class="content container-fluid">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <h6 class="text-black mb-10">
                विवाद / उजुरीको अनुसूची–१० दफा ५५ को उपदफा (१) सँग सम्बन्धित
                अनिवार्य छान्नुहोस् ||
              </h6>
            </div>
            <div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label"
                  >विवाद / उजुरी*</label
                >
                <select
                  id="exampleFormControlInput1"
                  class="form-select"
                  aria-label="Default select example"
                >
                  <option selected>--- विवाद / उजुरी छान्नुहोस् ---</option>
                  <option value="1">
                    स्थानीय सरकार संचालन ऐन २०७४को ४७ (१)
                  </option>
                  <option value="2">
                    स्थानीय सरकार संचालन एन २०७४ को ४७ (२)
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="border p-5">
            <div class="text-black">
              <div class="mt-4 d-flex flex-column gap-2">
                <p class="text-center fs-5 fw-bold">अनुसूची–१०</p>
                <p class="text-center fs-5 fw-bold">
                  (दफा ५५ को उपदफा (१) सँग सम्बन्धित)
                </p>
                <p class="text-center fs-5 fw-bold">निर्णयको ढाँचा</p>
                <p class="text-center fs-5 fw-bold">
                  श्री दमक नगरपालिका न्यायिक समिती
                </p>
                <p class="text-center fs-5 fw-bold">संयोजक श्री नीराज जंगम</p>
                <p class="text-center fs-5 fw-bold">
                  सदस्य श्री हिरा वहादुर तामाङ
                </p>
                <p class="text-center fs-5 fw-bold">सदस्य श्री रजनी खड्गी</p>
                <p class="text-center fs-5 fw-bold">बाट भएको</p>
              </div>
              <p class="mt-5 text-center fs-5 fw-bold">निर्णय</p>
              <div class="mt-5 pb-3">
                <p class="fs-6 fw-bold">
                  संवत ............ ... सालको निवेदन नं........
                </p>
                <p class="fs-6 fw-bold">विषयः</p>
                <p>
                  जिल्ला , वडा न. बस्ने को नाति/नातिनी को छोरा/छोरी/श्रीमती वर्ष
                  को निवेदक (प्रथम पक्ष) मोबाईल न
                </p>
                <p class="mt-2 text-center fs-5 fw-bold">विरुद्ध</p>
              </div>
              <div>
                <p class="lh-lg">
                  , जिल्ला , वडा न. , बस्ने , को नाति/नातिनी , को
                  छोरा/छोरी/श्रीमती वर्ष को ,लुटन दोम निवेदक (दोस्रो पक्ष)
                  मोबाईल न. न्यायिक समिति (गठन तथा कार्यसञ्चालन) ऐन, २०७८” को
                  दफा १९को उपदफा ( ) वमोजिम निवेदन दर्ता प्रस्तुत हुन आएको
                  मुद्दाको संक्षिप्त तथ्य र निर्णय यस प्रकार छः
                </p>
                <p class="mt-3 fw-bold"><u>तथ्य खण्डः</u></p>
                <p class="mt-2">(1) मुद्दाको संक्षिप्त तथ्य वादी दावी</p>
                <p class="mt-1">(2) प्रतिवादी जिकिर</p>
                <p class="mt-1">(3) वादी/प्रतिवादी प्रमाण</p>
                <p class="mt-1">(4)</p>
                <p class="mt-3 fw-bold"><u>निर्णय खण्डः</u></p>
                <p class="mt-2 lh-lg">
                  निम्न बुंदाहरुमामेलमिलाप भएको छ <br />
                  दुवै पक्षलाई सुनुवाईको लागि आज पेशी तोकीएकोमा विवादका
                  सम्वन्धित पक्षहरु स्वयमं तथा निजहरुबाट नियुक्त गरेका कानून
                  व्यवसायीहरु समेतको भनाई सुनी पुनः मिलापत्र गर्नुहोस भनी
                  सम्झाउँदा वुझाउँदा पनि मिलापत्र गर्न मञ्जुर नगर्नु भएकोले
                  फाइलमा संलग्न प्रमाण कागजहरुको समेत मूल्याङ्कन गरी न्यायिक
                  समिति (गठन तथा कार्यसञ्चालन) ऐन, २०७८” को दफा १९ ( ) वमोजिम
                  निर्णय दिनुपर्ने हुन आई निर्णयतर्फ विचार गर्दा
                  ................................... ठहर्छ। सो ठहर्नाले तपशिल
                  बमोजिम गर्नु।
                </p>
                <p class="mt-3 fw-bold"><u>तपशिल खण्डः</u></p>
                <p class="mt-2">
                  1. निणर्यको कार्यान्वयनको लागि धुलिखेल नगर कार्यपालिकालाई लेखि
                  पठाउनु।
                </p>
                <p class="mt-1">
                  2. सरोकारवालाले नक्कल माग गर्न आएमा नियमानुसार दस्तुर लिई
                  नक्कल दिनु।
                </p>
                <p class="mt-1">
                  3. निर्णयमा चित्त नवुझे ३५ दिनभित्र काभ्रेलाञ्चोक जिल्ला
                  अदालतमा पुनरावेदन गर्न जानु भनि प्रत्यर्थीलाई सुनाईदिनु।
                </p>
                <p class="mt-1">
                  4. म्यादभित्र पुनरावेदन नपरेमा कानून वमोजिम निर्णय कार्यान्वयन
                  गर्नु र गराउनु।
                </p>
                <p class="mt-1">
                  निर्णय तयार गर्न सहयोग गर्ने कर्मचारी.....................
                </p>
                <p class="mt-2">पद.................................</p>
                <p class="mt-2">समितिको दस्तखत....................</p>
                <p class="mt-2">
                  इती संवत: <b>२०८०</b> साल <b>१०</b> महिना
                  <b>२२</b>गते......रोज शुभम ।
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Page Wrapper -->
{% endblock %}