{% extends "base.html" %}
{% block 'content' %}

      <!-- Page Wrapper -->
      <div class="page-wrapper">
        <div class="content container-fluid">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <h6 class="text-black mb-10">
                विवाद / उजुरीको अनुसूची –९ख दफा ३३ को उपदफा (६) सँग सम्बन्धित
                अनिवार्य छान्नुहोस् ||
              </h6>
            </div>
            <div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label"
                  >विवाद / उजुरी*</label
                >
                <select
                  id="exampleFormControlInput1"
                  class="form-select"
                  aria-label="Default select example"
                >
                  <option selected>--- विवाद / उजुरी छान्नुहोस् ---</option>
                  <option value="1">
                    स्थानीय सरकार संचालन ऐन २०७४को ४७ (१)
                  </option>
                  <option value="2">
                    स्थानीय सरकार संचालन एन २०७४ को ४७ (२)
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="border p-5">
            <div class="text-black">
              <div>
                <p class="text-center">अनुसूची–९(ख)</p>
                <p class="text-center">(दफा ३३ को उपदफा (६) सँग सम्बन्धित)</p>
              </div>
              <div class="mt-4 d-flex flex-column gap-1">
                <p class="text-center fs-5 fw-bold">
                  दमक नगरपालिका, न्यायिक समितिवाट
                </p>
                <p class="text-center fs-5 fw-bold">
                  प्रतिवादीको नाँउमा जारी गरेको म्यादको वुझेको भर्पाई
                </p>
                <p class="text-center fs-5 fw-bold">२०८०-१०-२२</p>
              </div>
              <div class="mt-4 d-flex flex-column gap-2">
                <p>
                  जिल्ला , वडा न. बस्ने को नाति/नातिनी को छोरा/छोरी/श्रीमती वर्ष
                  को नाममा मिति , जिल्ला , वडा न. बस्ने , को नाति/नातिनी , को
                  छोरा/छोरी/श्रीमती वर्ष को ,लुटन दोम र्ले यस न्यायिक समितिमा
                  स्थानीय सरकार संचालन ऐन २०७४को ४७ (१) भन्ने उजुरी गरेको हुनाले
                  सो उजुरी निवेदनको फोटोकपि साथै राखी पठाइएको छ। सो बमोजिमको
                  पत्र बुझिलिएको भर्पाई।
                </p>
                <p>1. म्याद बुझिलिनु पर्ने व्यक्तिले बुझिलिएमाः-</p>
                <p>
                  ...............................................भन्ने बिषयमा
                  मेरो नाउँमा जारी भएको एक प्रति म्याद र उजुरी निवेदनको एकप्रति
                  फोटोकपि समेत देहायका साक्षीहरुको रोहवरमा म आफैंले बुझिलिएँ भनी
                  दरखास्त गर्ने श्रीमान
                  ................................................जिल्ला .......
                  नपा वडा नं- मितिः ..................
                </p>
                <p>
                  2. म्याद बुझिलिनु पर्ने व्यक्तिले एकाघरको परिवारको सदस्यले
                  बुझिलिएकोमाः
                </p>
                <p>
                  ...................................भन्ने बिषयमा म्यादवाला
                  .............................. ......... ...........
                  ............ .........को घरमा व्यक्ति फेला नपरेकोले वा म्याद
                  बुझ्न इन्कार गरेकोले निजको नाउँको एक प्रति म्याद र उजुरी
                  निवेदनको एकप्रति फोटोकपि समेत देहायका साक्षीहरुको रोहवरमा
                  बुझिलिएँ भनी दरखास्त गर्नेः म्यादवाला श्री
                  .................छोरा वर्ष......... को
                  .......................जिल्ला .............. नपा वडा
                  नं.............एकाघरको..................नाताको बर्ष
                  ..................को ..................
                </p>
                <p>१</p>
                <p>२</p>
                <p>मितिः ..........................</p>
                <p>3. म्याद बुझिलिनु पर्ने व्यक्तिको घरदैलोमा टाँस भएमाः</p>
                <p>
                  .............................................भन्ने बिषयमा
                  म्यादवाला. ............... .....................
                  .................. जिल्ला........ नपा वडा नं ..... र निजको
                  एकाघरको उमेर पुगेको परिवारको सदस्य समेत घरमा फेला नपरेकोले
                  म्याद बुझ्न इन्कार गरेकोले निजको नाउँको म्याद र उजुरी निवेदनको
                  फोटोकपि समेत हामी देहायका साक्षीका रोहवरमा निजको घर दैलामा
                  सबैले देख्नेगरी टाँसी .....................नगरपालिका वडा
                  नं..... वडा कार्यालयमा एकप्रति म्याद दिएको ठिक छ भनी दरखास्त
                  गर्ने हामी देहायका साक्षीहरुः
                </p>
                <p>१</p>
                <p>२</p>
                <p>मितिः ..........................</p>
                <p>
                  4. म्याद बुझिलिने व्यक्ति र घर फेला नपरी तामेल गर्नुपर्दाः
                </p>
                <p>
                  ..................................भन्ने बिषयमा म्यादवाला
                  ..................................................को ..
                  ...........जिल्ला ................ नपा वडा नं ...... को यसै
                  बमोजिमको म्याद बुझिलिनु पर्ने व्यक्ति वा घर समेत खोजतलास गर्दा
                  फेला नपरेकाले निजको नाउँको एक प्रति म्याद सम्बन्धित वडाको
                  ............................... ठाउँमा वा टोलको सार्वजनिक
                  ठाउँमा.............................मा टाँस गरी म्याद पठाएका
                  छौं भनी दस्तखत गर्ने देहायका साक्षीहरुः
                </p>
                <p>१ रोहवरमा</p>
                <p>
                  वडा सचिव श्री ..................................नं वडा
                  कार्यालय।
                </p>
                <p>5. कानून व्यवसायीले बुझि लिएमाः</p>
                <p>
                  निवेदक ...........................ले विपक्ष
                  ..........................नगरपालिका नपा वडा नं......बस्ने
                  ..................................... भएको
                  ........................विषयमा धुलिखेल नगरपालिका न्यायिक
                  समितिमा मिति ...............................मा दायर भएको नं.
                  ..... को विवादमा प्रतिउत्तर पत्र दायर गर्नको लागि श्री
                  ......................................न.पा वडा नं ..... को
                  नाउँमा जारी भएको म्याद निज प्रतिवादीलाई बुझाउने गरी मैले
                  बुझिलिई यो भरपाई गरिदिएँ। म्याद बुझ्ने वारिस र कानून
                  व्यवसायीको
                </p>
              </div>
              <div class="mt-3 d-flex justify-content-between pb-3">
                <div class="d-flex flex-column gap-2">
                  <p>दस्तखतः</p>
                  <p>नामः</p>
                  <p>ठेगानाः</p>
                </div>
                <div class="d-flex flex-column gap-2">
                  <p><b>क. प्रमाणपत्र नम्बरः</b></p>
                  <p><b>म्याद तामेल गर्नेको</b></p>
                  <p><b>नामः..................</b></p>
                  <p><b>पदः..................</b></p>
                  <p><b>मितिः.................</b></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Page Wrapper -->
{% endblock %}