{% extends "base.html" %}
{% block 'content' %}

      <!-- Page Wrapper -->
      <div class="page-wrapper">
        <div class="content container-fluid">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <h6 class="text-black mb-10">
                विवाद / उजुरीको अनुसूची–१३ ‍दफा ६६को उपदफा (५) सँग सम्बन्धित
                अनिवार्य छान्नुहोस् ||
              </h6>
            </div>
            <div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label"
                  >विवाद / उजुरी*</label
                >
                <select
                  id="exampleFormControlInput1"
                  class="form-select"
                  aria-label="Default select example"
                >
                  <option selected>--- विवाद / उजुरी छान्नुहोस् ---</option>
                  <option value="1">
                    स्थानीय सरकार संचालन ऐन २०७४को ४७ (१)
                  </option>
                  <option value="2">
                    स्थानीय सरकार संचालन एन २०७४ को ४७ (२)
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="border p-5">
            <div class="text-black">
              <div class="mt-4 d-flex flex-column gap-2">
                <p class="text-center fs-5 fw-bold">अनुसूची–१३</p>
                <p class="text-center fs-5 fw-bold">
                  (‍दफा ६६को उपदफा (५) सँग सम्बन्धित)
                </p>
                <p class="text-center fs-5 fw-bold">मिलापत्रको ढाँचा</p>
              </div>
              <div class="mt-5 pt-5 pb-3">
                <p
                  class="lh-base"
                  style="
                    transform-origin: 0 0;
                    transform: rotate(270deg);
                    height: 40px;
                    width: 80px;
                  "
                >
                  मिति २०८०-१०-२५ मा यस उर्लाबारी नगरपालिका न्यायिक समिति समक्ष
                  दुवै पक्षको मञ्जुरी अनुसार लेखी पेश भएको मिलापत्र कागज यस
                  न्यायिक समितिवाट प्रमाणित गरिएको छ।मिलापत्रको एक/एक प्रति दुवै
                  पक्षलाई दिनु एकप्रति मिसिलसाथ राख्नु। विवादको दायरीको लगत
                  कट्टा गर्नु र मिलापत्र कार्यान्वयनको लागि सम्बन्धित निकायमा
                  लेखी पठाउनु¸ मिसिल अभिलेख शाखामा पठाउनु।
                </p>
                <p class="lh-lg">
                  लिखितम हामी तपशिलमा उल्लेखित मानिसहरु आगे हामीहरु वादी
                  प्रतिवादी भई चलि आएका विवादमा निवेदक गरी पाउ भन्ने निवेदकको
                  दावी। लिखित जवाफ को प्रतिउत्तर पत्र।यसरी आज सम्म हामी पक्ष तथा
                  बिपक्षी एक आपसमा झगडा बिवाद गरी आएता पनि अव बिवाद नगरी जे
                  जस्तो माग दावी रहेता पनि सम्पुर्ण मागदावी जिकिर छाडी अव
                  उप्रान्त मिली बसौं भनि धुलिखेल नगरपालिका न्यायिक समिति समेतको
                  उपस्थिमा उल्लेखित सर्तमा मिली आएको ब्यहोरा यस प्रकार छ।
                </p>
              </div>
              <div>
                <p class="mt-4">तपसिलः</p>
                <p class="mt-3">साझिः ..............................</p>
                <p class="mt-2">
                  जिल्ला , वडा न. बस्ने को नाति/नातिनी को छोरा/छोरी/श्रीमती वर्ष
                  को /निवेदक/वादी।
                </p>
                <p class="mt-2">
                  जिल्ला , वडा न. बस्ने , को नाति/नातिनी , को छोरा/छोरी/श्रीमती
                  वर्ष को ,लुटन दोम दोस्रो पक्ष/प्रतिवादी|
                </p>
                <p class="mt-3">...................................</p>
                <p class="mt-2">दुवै पक्षले भने बमोजिम मिलापत्र तयार गर्नेः</p>
                <p class="mt-2">कर्मचारीको नाम/थरः.................</p>
                <p class="mt-2">पदः.................</p>
                <p class="mt-1">दस्तखतः.................</p>
                <p class="mt-2">
                  इती संवत <b>२०८०</b> साल <b>१०</b> महिना <b>२५</b>गते......रोज
                  शुभम ।
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Page Wrapper -->
{% endblock %}