{% load static %}
<!-- Sidebar -->
<div class="sidebar" id="sidebar">
   <div class="sidebar-header">
      <div class="sidebar-logo">
         <a href="{% url 'home_page' %}">
         <img src="{% static 'img/logo.png' %}" class="img-fluid logo" alt="">
         </a>
         <a href="index.html">
         <img src="assets/img/logo-small.png" class="img-fluid logo-small" alt="">
         </a>
      </div>
   </div>
   <div class="sidebar-inner slimscroll"  >
      <div id="sidebar-menu" class="sidebar-menu">
         <ul>
            <li class="">
               <a href="{% url 'home_page' %}" class="{% if request.path == '/' %}active{% endif %}"><i class="fe fe-home"></i> <span> गृह पृष्ठ</span></a>
            </li>
         </ul>
         <!-- Inventory -->
         <ul>
            <li class="menu-title"><span>मुख्य सेटअप</span></li>
            <li class="submenu">
               <a href="#"><i class="fe fe-package"></i> <span>प्रयोगकर्ता सेटअप</span> <span class="menu-arrow"></span></a>
               <ul>
                  <li><a href="{% url 'office_user_page' %}" class="{% if request.path == '/users/office_user/' %}active{% endif %}">कार्यालय सेटअप</a></li>
                  <li><a href="{% url 'officer_user_page' %}" class="{% if request.path == '/users/officer_user/' %}active{% endif %}">शाखा अधिकारी सेटअप</a></li>
                  <li><a href="{% url 'sub_head_user_page' %}" class="{% if request.path == '/users/sub_head_user/' %}active{% endif %}">उप प्रमुख सेटअप</a></li>
                  <li><a href="{% url 'helper_user_page' %}" class="{% if request.path == '/users/helper_user/' %}active{% endif %}">कार्यालय सहयोगी सेटअप</a></li>
               </ul>
            </li>
            <li class="submenu">
               <a href="#"><i class="fe fe-package"></i> <span>व्यवस्थापन सेटअप</span> <span class="menu-arrow"></span></a>
               <ul>
                  <li><a href="{% url 'designation_list' %}" class="{% if request.path == '/common/designation/' %}active{% endif %}">पद</a></li>
                  <li><a href="{% url 'document_type_list' %}" class="{% if request.path == '/common/document_type/' %}active{% endif %}"> ‌कागजात प्रकार</a></li>
                  <li><a href="{% url 'office_ward_list' %}" class="{% if request.path == '/common/office_ward/' %}active{% endif %}"> ‌वडा कार्यालय </a></li>
                  <li><a href="{% url 'fiscal_year_list' %}" class="{% if request.path == '/common/fiscal_year/' %}active{% endif %}">‌वित्तीय वर्ष </a></li>
               </ul>
            </li>
            <li class="submenu">
               <a href="#"><i class="fe fe-package"></i> <span>परियोजना आधारभूत सेटअप</span> <span class="menu-arrow"></span></a>
               <ul>
                  <li><a href="{% url 'case_type_list' %}" class="{% if request.path == '/case/case_type/' %}active{% endif %}">मामिला</a></li>
                  <li><a href="{% url 'case_subtype_list' %}" class="{% if request.path == '/case/case_subtype/' %}active{% endif %}">‌मामला प्रकार</a></li>
                  <li><a href="{% url 'case_stage_list' %}" class="{% if request.path == '/case/case_stage/' %}active{% endif %}">मामला चरण</a></li>
                  <li><a href="{% url 'court_type_list' %}" class="{% if request.path == '/act_law/court_type/' %}active{% endif %}">न्यायिक समितिको प्रकार</a></li>
                  <li><a href="{% url 'judge_committee_list' %}"class="{% if request.path == '/common/judge_committee/' %}active{% endif %}"> ‌न्यायिक समितिको सदस्यहरु </a></li>
                  <li><a href="{% url 'mail_milap_karta_list' %}" class="{% if request.path == '/case/mail_milap_karta/' %}active{% endif %}">मेलमिलाप कर्ता </a></li>
                  <li><a href="{% url 'actlaw_list' %}" class="{% if request.path == '/act_law/' %}active{% endif %}">ऐन/कानुन </a></li>
               </ul>
            </li>
         </ul>
         <!-- /Inventory -->
         <!-- Consumers -->
         <ul>
            <li class="menu-title"><span>सेवाग्राही</span></li>
            <li class="">
               <a href="{% url 'consumer_list' %}" class="{% if request.path == '/consumer/consumer_list/' %}active{% endif %}"><i class="fe fe-book"></i> <span>सेवाग्राही सूची</a>
               <a href="{% url 'consumer_group' %}" class="{% if request.path == '/consumer/consumer_group/' %}active{% endif %}"><i class="fe fe-book"></i> <span>सेवाग्राही -- समूह</a>
            </li>
         </ul>
         <!-- /Consumers -->
         <!-- Case Report -->
         <ul>
            <li class="menu-title"><span>विवाद/उजुरी</span></li>
            <li class="">
               <a href="{% url 'case_report_list' %}" class="{% if request.path == '/case/case_report/' %}active{% endif %}"><i class="fe fe-book"></i> <span>विवाद/उजुरी सूची</a>
            </li>
         </ul>
         <!-- /Case Report -->
         <!-- Reports -->
         <ul>
            <li class="menu-title"><span>रिपोर्ट</span></li>
            <li>
               <a href="#"><i class="fe fe-clipboard"></i> <span>राय किताब</span></a>
            </li>
            <li>
               <a href="#"><i class="fe fe-clipboard"></i> <span>मिसिल अभिलेख किताब</span></a>
            </li>
            <li>
               <a href="#"><i class="fe fe-clipboard"></i> <span>उजुरी र निवेदन डायरी किताब</span></a>
            </li>
            <li>
               <a href="#"><i class="fe fe-clipboard"></i> <span>दर्ता किताब</span></a>
            </li>
            <li>
               <a href="#"><i class="fe fe-clipboard"></i> <span>चलानी किताब</span></a>
            </li>
            <li>
               <a href="#"><i class="fe fe-clipboard"></i> <span>तारिक किताब</span></a>
            </li>
            <li>
               <a href="#"><i class="fe fe-clipboard"></i> <span>घटनाको विवरण</span></a>
            </li>
            <li>
               <a href="#"><i class="fe fe-clipboard"></i> <span>निवेदनहरुको विवरण</span></a>
            </li>
         </ul>
         <!-- /Reports -->
         <!-- Authentication -->
         <ul>
            <li class="submenu">
               <a href="#"><i class="fe fe-lock"></i> <span> आनुसुचीहरु </span> <span class="menu-arrow"></span></a>
               <ul>
                  <li><a href="{% url 'schedule_four' %}" class="{% if request.path == '/schedules/schedule_four/' %}active{% endif %}">अनुसूची ४ (निवेदन -पत्र) </a></li>
                  <li>
                  <li><a href="{% url 'schedule_fourA' %}" class="{% if request.path == '/schedules/schedule_fourA/' %}active{% endif %}">अनुसूची ४(क) (दाबि फिर्ता गरी पाउँ) </a></li>
                  <li>
                  <li><a href="{% url 'schedule_five' %}" class="{% if request.path == '/schedules/schedule_five/' %}active{% endif %}">अनुसूची ५ (उजुरी दर्ता गरेको निस्साको) </a></li>
                  <li>
                  <li><a href="{% url 'schedule_six' %}" class="{% if request.path == '/schedules/schedule_six/' %}active{% endif %}">अनुसूची ६ (तारेख भरपाई) </a></li>
                  <li>
                  <li><a href="{% url 'schedule_seven' %}" class="{% if request.path == '/schedules/schedule_seven/' %}active{% endif %}">अनुसूची ७ (तारिखको पर्चा) </a></li>
                  <li>
                  <li><a href="{% url 'schedule_eight' %}" class="{% if request.path == '/schedules/schedule_eight/' %}active{% endif %}">अनुसूची ८ (लिखित जवाफ) </a></li>
                  <li>
                  <li><a href="{% url 'schedule_nineA' %}" class="{% if request.path == '/schedules/schedule_nineA/' %}active{% endif %}">अनुसूची ९(क) (म्याद सूचना) </a></li>
                  <li>
                  <li><a href="{% url 'schedule_nineB' %}" class="{% if request.path == '/schedules/schedule_nineB/' %}active{% endif %}">अनुसूची ९(ख)(प्रतिवादीको नाँउमा जारी गरेको म्यादको वुझेको भर्पाई) </a></li>
                  <li>
                  <li><a href="{% url 'schedule_ten' %}" class="{% if request.path == '/schedules/schedule_ten/' %}active{% endif %}">अनुसूची १० (न्यायिक समितिको निर्णय) </a></li>
                  <li>
                  <li><a href="{% url 'schedule_eleven' %}" class="{% if request.path == '/schedules/schedule_eleven/' %}active{% endif %}">अनुसूची ११ (अन्तरिम संरक्षणात्मक आदेश) </a></li>
                  <li>
                  <li><a href="{% url 'schedule_twelve' %}" class="{% if request.path == '/schedules/schedule_twelve/' %}active{% endif %}">अनुसूची १२ (मिलापत्रको संयुक्त निवेदन) </a></li>
                  <li>
                  <li><a href="{% url 'schedule_thirteen' %}" class="{% if request.path == '/schedules/schedule_thirteen/' %}active{% endif %}">अनुसूची १३ (मिलापत्रको ढाँचा) </a></li>
                  <li>
                  <li><a href="{% url 'schedule_fourteen' %}" class="{% if request.path == '/schedules/schedule_fourteen/' %}active{% endif %}">अनुसूची १४ (न्यायिक समिति समक्ष पेश गरेको निवेदन) </a></li>
                  <li>
                  <li><a href="{% url 'schedule_nineteen' %}" class="{% if request.path == '/schedules/schedule_nineteen/' %}active{% endif %}">अनुसूची १९ (तारिक/मेलमिलापमा रहेका उजुरीहरु) </a></li>
                  <li>
               </ul>
            </li>
         </ul>
         <!-- /Authentication -->
      </div>
   </div>
</div>
<!-- /Sidebar -->